section {
  width: 500px;
  height: 500px;
  background-color: rgb(0, 0, 0);
}

#rgba {
  width: 50%;
  height: 50%;
  background-color: rgba(209, 47, 201, 0.4);
}

#opacity {
  width: 50%;
  height: 50%;
  background-color: rgba(47, 63, 209);
  opacity: 0.5;
}
